body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

input:hover {
  border: 1px solid #aaa;
}

.btn-search {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-search:hover {
  background-color: #e6e6e6;
}

footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}

.footer-link {
  margin-right: 10px;
  text-decoration: none;
  color: #70757a;
}